@import url('https://fonts.googleapis.com/css?family=Lora|Cinzel');

body {
  font-family: 'Lora', serif;
  background: #c5eaf9;
}

.home__pitch {
  margin-top: 20px;
}
.home__title {
  font-size: 36px;
  margin-bottom: 20px;
}
.home__content {
  font-size: 24px;
  margin-bottom: 25px;
}

.home__content .section-1 {
  margin-left: 50px;
  margin-bottom: 20px;
}
.home__content .section-2 {
  margin-left: 50px;
  margin-bottom: 20px;
}
.home__content .section-3 {
  margin-left: 50px;
  margin-bottom: 20px;
}

.email {
  color: #a654e3;
}
.app {
  color: blue;
}
